.filters {
  position: fixed;
  top: 65px;
  height: 60px;
  width: 100%;
  display: flex;
  background-color: #1da014;
  .filters_name {
    margin-top: 10px;
    width: 590px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .filters_genre {
    width: 100%;
    padding-top: 10px;
    padding-right: 20px;
    color: white;
    button {
      float: right;
    }
    p {
      float: right;
      margin-right: 20px;
    }
  }
}
.listBooks {
  position: fixed;
  width: 100%;
  top: 125px;
  bottom: 30px;
  overflow-y: auto;
}
